<div class="navbar">
        <span>Listener Profile</span>
        <div>
            <a href="/listener/profile">HOME</a>
            <button onclick="logout()">Logout</button>
        </div>
    </div>